﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="Admin.aspx.cs" Inherits="WebSaleLaptop.Admin1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="main-admin">
        <h1>TRANG CHỦ ADMIN</h1>
    </div>
    <style>
        .main-admin {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh
        }
    </style>
</asp:Content>
